* {
    padding: 0em;
    font-family: 'Noto Sans Mono';
}

#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces, #window, #memory, #temperature, #network, #clock {
    background-color: #1a9c85;
    padding: 0.0em 1em;
    margin: 0.3em 1.1em 1em 1.1em;
    border: #535353 0.13em solid;
    border-radius: 0.3em 0.3em 1.2em 1.2em;
    border-color: #45dada;
    box-shadow: 0em 0em 0.65em 0.4em #41bbda
}

#window {
    border-radius: 0.5em 0.5em 1.5em 1.5em;
}

window#waybar.empty #window{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

#workspaces {
    margin-left: 0em;
    padding-left: 0em;
    border-left: none;
    border-radius: 0em 0.5em 2.3em 0em;
}

#workspaces button {
    color: #ffffff;
    margin: 0.0em 0.25em;
    background-color: transparent;
    border-radius: 1em;
}

#workspaces button.active {
    background-color: #067e78;
    margin-bottom: 0.1em;
}

#clock.time {
    margin-right: 0em;
    border-radius: 0.5em 0em 0em 2.3em;
    border-right: none;
}

#network.disconnected {
    opacity: 0.5;
    box-shadow: none;
}
