#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces, #network ,#memory, #clock {
    background-color: #1a9c85;
    margin: 0em 1em 0em 0em;
    padding: 0.1em 1em 0.1em 1em;
    border-radius: 1.5em;
}

#network.ethernet {
    background-color: #1a9c85;
}

#network.disconnected {
    background-color: red;
}
