#waybar {
    background-color: #6b6b6b;
    color: white;
}

#workspaces button {
    color: white;
}

#workspaces button.active {
    background-color: #ffa500;
}

#network.disconnected {
    background-color: #ff0000;
}
